<footer style="margin: 20px 0;">
  <div class="container">
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }} on Github" style="display: inline;">
        <img src="{{ site.baseurl }}/assets/photos/github_icon.png" class="github.icon" style="height: 30px; float: right; display: inline;"/>
      </a>
    {% endif %}
    <p class="text-muted">Atos - Team 8</p>
  </div>
</footer>


<script src="{{ site.baseurl }}/assets/all.js"></script>
