.site-masthead {
  background-color: #eee;
  text-align: center;
  padding: 40px 0;

  h1 {
    margin: 0;
    padding: 20px 0 10px;
  }

  p {
    font-size: 19px;
    margin: 1em 0;
  }

  .video {
    margin: 20px 0;
  }

  .actions {
    margin: 2em 0 1em;

    a {
      font-size: 1.5em;
      font-weight: bold;
      color: white;
      border-radius: 5em;
      padding: .5em 1.5em;
      margin: 0 .5em;
      text-decoration: none;
      background-color: #379bc6;

      &:hover {
        background-color: #2c89b1;
      }
    }

    .red {
      background-color: #aa6838;

      &:hover {
        background-color: #98592b;
      }
    }
  }
}
