.site-masthead {
  background-color: #eee;
  text-align: center;
  padding: 40px 0;

  h1 {
    margin: 0;
    padding: .5em 0;
  }

  p {
    font-size: 19px;
    margin: 1em 0;
  }

  .video {
    margin: 20px 0;
  }

  .actions {
    margin: .5em 0 0;

    a {
      display: inline-block;
      font-size: 1.5em;
      font-weight: bold;
      color: white;
      border-radius: 5em;
      padding: .5em 1.5em;
      margin: .5em;
      text-decoration: none;
      background-color: #379bc6;
      white-space: nowrap;

      &:hover {
        background-color: #2c89b1;
      }
    }

    .red {
      background-color: #aa6838;

      &:hover {
        background-color: #98592b;
      }
    }

    .disabled {
      background-color: #ccc !important;
      cursor: default;
    }
  }
}

.features {
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  background: #fafafa;
}

.feature {
  margin: 1.75em 0;

  h3 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0 0 .75em;
  }

  p {
    font-size: 1.1em;
  }

}
