// Bootstrap

$brand-primary: #111;
$brand-primary-lighter: #222;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Custom

$max-site-width: 1100px;
