---
layout: default
---

<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Requirements">Requirements</a>
      </h4>
    </div>
    <div id="Requirements" class="panel-collapse collapse">
      <div class="panel-body">
  		{% capture output %}{% include_relative requirements.md %}{% endcapture %}
  		{{ output | markdownify }}
<!--       <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Research">Research</a>
      </h4>
    </div>
    <div id="Research" class="panel-collapse collapse">
      <div class="panel-body">
      {% capture output %}{% include_relative research.md %}{% endcapture %}
      {{ output | markdownify }}
      </div>
<!--       <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Infrastructure">Infrastructure</a>
      </h4>
    </div>
    <div id="Infrastructure" class="panel-collapse collapse">
      <div class="panel-body">
      {% capture output %}{% include_relative infrastructure.md %}{% endcapture %}
      {{ output | markdownify }}
      </div>
<!--       <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Prototype">Prototype</a>
      </h4>
    </div>
    <div id="Prototype" class="panel-collapse collapse">
      <div class="panel-body">
      {% capture output %}{% include_relative prototype.md %}{% endcapture %}
      {{ output | markdownify }}
      </div>
<!--       <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#Testing">Testing</a>
      </h4>
    </div>
    <div id="Testing" class="panel-collapse collapse">
      <div class="panel-body">
      {% capture output %}{% include_relative testing.md %}{% endcapture %}
      {{ output | markdownify }}
      </div>
<!--       <div class="panel-footer">Panel Footer</div> -->
    </div>
  </div>
